body {
  font-family: Georgia;
}

div {
  margin-top: 15px;
  text-align: center;
}

.intro {
  height: 20%;
}

.container {
  width: 80%;
  height: 650px;
  margin: 0 auto;
  background-color: rgba(255,0,0,0.3);
  padding: 100px;
  overflow: hidden;
}

#lung {
  position: relative;
  border-radius: 100%;
  width: 300px;
  height: 500px;
  background-color: rgba(255,0,0,0.3);
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

div.exit_button {
  position: absolute;
  float: left;
  font-color: blue;
  background-color: white;
  padding: 5px;
  border-radius: 10%;
}


