body {
  font-family: Georgia;
}

div {
  text-align: center;
}

.container {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255,0,0,0.3);
}


#lung {
  position: relative;
  border-radius: 100%;
  width: 300px;
  height: 500px;
  background-color: rgba(255,0,0,0.3);
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

div.exit_button {
  font-size: 2em;
  font-color: blue;
}

.soft {
  opacity: 0.5;
}
