<div class='container'>
  <h1> Welcome to Meditate.you </h1>
  <div class="timer">
    Timer
  </div>

  <div class="phase">
    Inhale<br><br>
  </div>

  <div class="exit_button">
    Click to end meditation!
  </div>

  <div class="breaths">
    <p>Last breath = <span id="last_breath">0</span></p>
    <p>Longest breath = <span id="longest_breath">0</span></p>
    <p>Average breath = <span id="average_breath">0</span></p>
    <p></p>

  </div>

  <div id="lung">
    &nbsp;
  </div>

</div>
