<div class='container'>
  <div class="intro">
    <h1> Welcome to Meditate.you </h1>
    <div class="timer">
      Timer
    </div>

    <div class="phase">
      Inhale<br>
    </div>

    <div class="exit_button">
      <p>Click to end meditation!</p>
    </div>

    <div class="breaths">
      Last breath = <span id="last_breath">0</span> | Longest breath = <span id="longest_breath">0</span> | Average breath = <span id="average_breath">0</span>
    </div>
  </div>
  <div id="lung">
    &nbsp;
  </div>

</div>
